<%= render 'main_navbar' %>


<div id="header-jumbotron" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 colored-jumbotron">
      <%= image_tag 'waldo-the-dev.jpg', class: 'rounded mx-auto d-block animated fadeIn', width: "400", height: "400" %>

      <h1 class="text-center">Waldo the Developer</h1>
      <h2 class="text-center">Empowering programers and technology enthusiasts</h2>
    </div>

  </div>
</div>