<%= render 'main_navbar' %>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 colored-jumbotron">
      <figure class="waldo-the-dev-image">
        <%= image_tag 'waldo-the-dev.jpg', class: 'rounded mx-auto d-block animated fadeIn img-fluid' %>
      </figure>
        <h1 class="text-center">Waldo the Developer</h1>
        <h2 class="text-center">Empowering programmers and technology enthusiasts</h2>
    </div>

  </div>
</div>