body {

  color: #F0EDE5; //coconut milk color
}


.waldo-the-dev-image {
  margin-top: 12em;
}


h1  {
  margin-top: 1em;
}


h2 {
  margin: 0.5em 0.3em 2em 0.3em;
}


.red-colored-jumbotron {

  background-color: #DD4132; // fiesta red
}

.blue-colored-jumbotron {
  background-color: #034F84; // snorkel blue
}

.yellow-colored-jumbotron {
  background-color: #FAE03C; // buttercup yellow
  color: #3e4444;
}


.lilagrey-colored-jumbotron {
  background-color: #9896A4; // lila-grey
}

.ftr-img {
  padding: 1.2em;
}


.product-images {
  margin-top: 6em;
}