body, a, u {
  font-family: 'Open Sans', sans-serif;
  color: #111111;

}

// All links and anchors
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            #111111;
}
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:            #111111;
}
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  color:            #ffffff;
}
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  color: #ffffff;
}

// End of all links and anchors

.youtube-section {
    background-color: #B93A32;
  }

.gadgets-section {
  background-color: #F0EDE5;
}

.courses-section {
  background-color: #999999;
}

.about-me-section {
  background-color: #CCCCCC;
}


.waldo-the-dev-image {
  margin-top: 6em;
}


.title-text  {
  margin-top: 0.9em;
  font-size: 3.5rem;
  color: #111111;
  font-weight: bold;
}


.subtitle-text {
  margin: 0.5em 0.3em 2em 0.3em;
  font-size: 1.6rem;
  color: #444444;
}

.the {
  font-size: 0.8em;
}


.ftr-img {
  padding: 1.2em;
}


.product-images {
  margin-top: 6em;
}