//Menu Hamburger - this shit took me sooooo long -
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 7;

.header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background-color: #202020;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 1;
  ul.menu {
    position: relative;
    display: block;
    padding: 100px 48px 0;
    list-style: none;
    li.menu-item {
      //border-bottom: 1px solid #333;
      margin-top: 5px;
      transform: scale(1.15) translateY(-30px);
      opacity: 0;
      transition: transform 0.5s $cubic, opacity 0.6s $cubic;
      @for $i from 1 through $menuItems {
        &:nth-child(#{$i}) {
          transition-delay: #{0.56 - ($i * 0.07)}s;
        }
      }
      a {
        display: block;
        position: relative;
        color: #F0EDE5; //coconut milk color
        font-weight: 100;
        text-decoration: none;
        //font-size: 3.1em;
        line-height: 2.35;
        font-weight: 200;
        width: 100%;
      }
    }
  }
  &.menu-opened {
    height: 100%;
    background-color: #202020;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;

    ul.menu {
      li.menu-item {
        transform: scale(1) translateY(0px);
        opacity: 1;
        @for $i from 1 through $menuItems {
          &:nth-child(#{$i}) {
            transition-delay: #{0.07 * $i+0.2}s;
          }
        }
      }
    }
  }
}